@import "reset.less";

@padding: 4pt;
@lightGray: #E5ECEF;

@union: #00577A;
@confederate: #BF0A30;
@conflict: #5F006C;
@misc: black;

* {
  box-sizing: border-box;
}

body {
  background: white;
  font-family: Lora, Georgia;
  font-size: 8pt;
  line-height: 1.25em;
}

card {
  width: 2.5in;
  height: 3.5in;
  display: inline-block;
  position: relative;
  border: @padding*2.5 solid @lightGray;
  margin: @padding/2;
  box-shadow: 0 0 0 @padding/2 black inset;
  vertical-align: top;
  header {
    display: block;
    padding: @padding*2 @padding @padding 0.6in;
    position: relative;
    .fa-hand-o-right {
      opacity: 0.3;
      position: absolute;
      font-size: 23pt;
      left: .158in;
      top: 0.05in;
      transform: rotate(-20deg);
    }
    name {
      display: block;
      font-family: Clarendon LT Std;
      font-weight: normal;
      font-size: 12pt;
      margin-top: 1pt;
    }
    nickname {
      display: block;
      font-family: Georgia;
      opacity: 0.7;
    }
  }
  type {
    transform: rotate(-90deg);
    display: block;
    transform-origin: top left;
    position: absolute;
    top: 1.7in;
    left: 0.09in;
    font-size: 15pt;
    font-weight: bold;
    width: 1in;
    text-align: center;
  }
  energy {
    position: absolute;
    top: 0.25in;
    left: 0.1in;
    width: .4in;
    height: .4in;
    line-height: .4in;
    font-size: 1.5em;
    border-radius: 50%;
    background-color: black;
    color: white;
    text-align: center;
    box-shadow: @padding/2 @padding/2 @padding/2 rgba(0,0,0,.25);
    font-family: Helvetica;
    font-weight: bold;
  }
  picture {
    border: 2pt solid black;
    display: block;
    height: 1.25in;
    background-position: center;
    background-size: cover;
    margin-left: 21pt;
  }
  content {
    padding: @padding @padding @padding 21pt;
    display: block;
    text-align: left;
    font-family: Georgia;
    position: relative;
    font-size: 9pt;
    strong {
      font-family: Lora;
      font-style: italic;
      font-weight: bold;
    }
    .fa-bolt {
      opacity: 0.3;
      position: absolute;
      font-size: 25pt;
      left: 0.15in;
      top: .05in;
    }
    code {
      background-color: black;
      color: white;
      border-radius: 50%;
      width: 1em;
      display: inline-block;
      height: 1em;
      text-align: center;
      line-height: 1em;
      font-family: Helvetica;
    }
  }
  quote {
    position: absolute;
    background-color: black;
    width: 100%;
    border: 0;
    left: 0;
    bottom: 0;
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 7pt;
    padding: @padding;
    quote-source {
      font-weight: bold;
    }
    .fa-quote-left {
      opacity: 0.3;
      position: absolute;
      font-size: 29pt;
    }
  }
  footer {
    position: absolute;
    // padding: 0 @padding;
    top: 100%;
    width: 100%;
    // margin-top: -1.5pt;
    font-size: 5pt;
    text-align: right;
    font-style: italic;
    color: black;
  }
}

card.confederate {
  color: @confederate;
  box-shadow: 0 0 0 2pt @confederate inset;
  picture {
    border-color: @confederate;
  }
  quote, energy {
    background: @confederate;
  }
}

card.union {
  color: @union;
  box-shadow: 0 0 0 2pt @union inset;
  picture {
    border-color: @union;
  }
  quote, energy {
    background: @union;
  }
}
