/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
body {
  background: white;
  font-family: Lora, Georgia;
  font-size: 8pt;
  line-height: 1.25em;
}
card {
  width: 2.5in;
  height: 3.5in;
  display: inline-block;
  position: relative;
  border: 10pt solid #e5ecef;
  margin: 2pt;
  box-shadow: 0 0 0 2pt black inset;
  vertical-align: top;
}
card header {
  display: block;
  padding: 8pt 4pt 4pt 0.6in;
  position: relative;
}
card header .fa-hand-o-right {
  opacity: 0.3;
  position: absolute;
  font-size: 23pt;
  left: .158in;
  top: 0.05in;
  -webkit-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
          transform: rotate(-20deg);
}
card header name {
  display: block;
  font-family: Clarendon LT Std;
  font-weight: normal;
  font-size: 12pt;
  margin-top: 1pt;
}
card header nickname {
  display: block;
  font-family: Georgia;
  opacity: 0.7;
}
card type {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  display: block;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  position: absolute;
  top: 1.7in;
  left: 0.09in;
  font-size: 15pt;
  font-weight: bold;
  width: 1in;
  text-align: center;
}
card energy {
  position: absolute;
  top: 0.25in;
  left: 0.1in;
  width: .4in;
  height: .4in;
  line-height: .4in;
  font-size: 1.5em;
  border-radius: 50%;
  background-color: black;
  color: white;
  text-align: center;
  box-shadow: 2pt 2pt 2pt rgba(0, 0, 0, 0.25);
  font-family: Helvetica;
  font-weight: bold;
}
card picture {
  border: 2pt solid black;
  display: block;
  height: 1.25in;
  background-position: center;
  background-size: cover;
  margin-left: 21pt;
}
card content {
  padding: 4pt 4pt 4pt 21pt;
  display: block;
  text-align: left;
  font-family: Georgia;
  position: relative;
  font-size: 9pt;
}
card content strong {
  font-family: Lora;
  font-style: italic;
  font-weight: bold;
}
card content .fa-bolt {
  opacity: 0.3;
  position: absolute;
  font-size: 25pt;
  left: 0.15in;
  top: .05in;
}
card content code {
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 1em;
  display: inline-block;
  height: 1em;
  text-align: center;
  line-height: 1em;
  font-family: Helvetica;
}
card quote {
  position: absolute;
  background-color: black;
  width: 100%;
  border: 0;
  left: 0;
  bottom: 0;
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 7pt;
  padding: 4pt;
}
card quote quote-source {
  font-weight: bold;
}
card quote .fa-quote-left {
  opacity: 0.3;
  position: absolute;
  font-size: 29pt;
}
card footer {
  position: absolute;
  top: 100%;
  width: 100%;
  font-size: 5pt;
  text-align: right;
  font-style: italic;
  color: black;
}
card.confederate {
  color: #bf0a30;
  box-shadow: 0 0 0 2pt #bf0a30 inset;
}
card.confederate picture {
  border-color: #bf0a30;
}
card.confederate quote,
card.confederate energy {
  background: #bf0a30;
}
card.union {
  color: #00577a;
  box-shadow: 0 0 0 2pt #00577a inset;
}
card.union picture {
  border-color: #00577a;
}
card.union quote,
card.union energy {
  background: #00577a;
}
card.conflict {
  color: #5f006c;
  box-shadow: 0 0 0 2pt #5f006c inset;
  width: 3.5in;
  height: 2.5in;
  display: inline-block;
  position: relative;
  margin: 2pt;
  vertical-align: top;
}
card.conflict picture {
  border-color: #5f006c;
}
card.conflict quote,
card.conflict energy {
  background: #5f006c;
}
card.conflict header {
  display: block;
  padding: 8pt 4pt 4pt 0.6in;
  position: relative;
}
card.conflict header .fa-certificate {
  opacity: 1;
  position: absolute;
  font-size: 39pt;
  left: .10in;
  top: 0.05in;
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
  text-shadow: 2pt 2pt 2pt rgba(0, 0, 0, 0.25);
}
card.conflict type {
  width: 1.25;
}
card.conflict energy {
  position: absolute;
  top: 0.1in;
  left: 0.1in;
  width: .48in;
  height: .48in;
  line-height: .45in;
  font-size: 1.5em;
  border-radius: 50%;
  background-color: black;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  background: none;
  color: white;
  box-shadow: none;
}
